*.o
*.a
*~
*.pyc
*.mod
deps.mk
FoX-4.1.2/arch.make
FoX-4.1.2/FoX-config
autom4te.cache
bin
TAGS
tags
config.h
config.log
config.status
configure
Makefile
make.config
make.config.i386*
make.config.x86_64*
make.config.i786*
make.rules
test/*.err
test/*.sum
FoX-4.1.2/.FoX
